<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppASPCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
            @*Insert image*@
            <a class="navbar-brand" href="#">
                <img src="~/Images/Logo.jpg" width="60" height="60" alt="logo">
            </a>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My Book Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            @{
                                await Html.RenderPartialAsync("~/Views/Livres/_livreNouveau.cshtml", new List<Livre> { new Livre { Titre = " Titre 1" }, new Livre { Titre = " Titre 2" }, new Livre { Titre = " Titre 3" } });
                            }
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            @*dropdown list*@
                            <div class="btn-group">
                                <button type="button" class="btn btn-success">Livres</button>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Livres" asp-action="Create">Nouveau </a>
                                    <a class="dropdown-item" href="/Livres/Index">Liste des livres</a>
                                    <a class="dropdown-item" href="/GestionLivresAuteurs/AssocierLivreAuteur">Associer un Auteur</a>


                                </div>
                            </div>


                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Themes" asp-action="Index">Liste des Themes</a>
                        </li>
                        <li class="nav-item">
                            @*dropdown list*@
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger">Auteurs</button>
                                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Auteurs" asp-action="Create">Nouveau</a>
                                    <a class="dropdown-item" asp-controller="Auteurs" asp-action="Index">Liste des Auteurs</a>
                                    <a class="dropdown-item" asp-controller="GestionLivresAuteurs" asp-action="AssocierLivreAuteur">Associer un Livre</a>

                                </div>
                            </div>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GestionLivresAuteurs" asp-action="AssocierLivreAuteur">Gestion Livres Auteurs</a>
                        </li>
                    </ul>

                </div>
                @await Html.PartialAsync("_LoginPartial.cshtml")
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Stephane Jaouen - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>

        $(document).ready(function () {
            // alert('test');
            $.ajax({
                url: '@Url.Action("GetLast","Livres")',
                type: 'POST',
                success: function (content) {
                    $("#maDropDownListNouveauLivre").html(content);
                }
            })
        });

    </script>
</body>
</html>
